# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/
**/*.egg-info/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Ruff cache
.ruff_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VS Code / other IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Local env files
*.env
*.local

# MyPy / type checker
.mypy_cache/
.dmypy.json
.pyre/

# Profiling data
.prof

# Editor swap files
*.swp
*.swo

